<div class="card">
  <div class="budg-title">
    <h1>Budget</h1>
    <h4>You're saving goal: <%=@goal%></h4>
  </div>
  <div class="account-cards">
    <div class="account">
      <p>Avg income <%=@avg_income%></p>
    </div>
    <div class="account">
      <p>Avg expenses <%=@avg_expense%></p>
    </div>
    <div class="account">
      <p> Net income <%=@net_income%></p>
      <% if @net_income < 0 %>
        <p> You're spending too much!</p>
      <%else%>
        <p> You're saving money</p>
      <%end%>
    </div>
  </div>
</div>
