<h1>Transactions</h1>
<ul>
  <% @transactions.each do |transaction| %>
    <li>
      <%= link_to transaction.transaction_type, transaction_path(transaction) %>: <%= transaction.amount %>
      <% transaction.categories.each do |category| %>
      <span><%=category.name%></span>
      <%end%>
    </li>
  <% end %>
</ul>
