<h1>Transactions</h1>
<ul>
  <% @transactions.each do |transaction| %>
    <li>
      <%= link_to transaction.transaction_type, transaction_path(transaction) %>: <%= transaction.amount %>
      
    </li>
  <% end %>
</ul>
